.main-content {
  font-size: 20px;
}

.us-notice {
  border: 1px rgb(236, 11, 11) solid;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.us-notice p {
  text-align: center;
  font-size: 1.2em !important;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 45px;
}

.site-footer-owner {
  display: flex;
  justify-content: center;
}

.main-content code {
  font-size: inherit;
  background-color: #ebebeb;
}

.tongue-trace-wrapper {
  display: flex;
  justify-content: center;
}

.tongue-trace {
  margin-left: 5px;
  margin-left: 5px;
}

.highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a";
  justify-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem 1rem;
}

.highlight img {
  width: 100%;
  transition: all 0.2s ease-out;
}

.highlight img:hover {
  /* cursor: pointer; */
  transform: scale(1.05);
}

.highlight img:focus {
  transform: scale(2);
}

@media screen and (max-width: 768px) {
  .tongue-trace-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .highlight {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a";
  }
}
