.main-content {
  font-size: 20px;
}

.paragraph {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}
.video {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.list{
  display:inline-block;
  line-height: 1.9;
}

.us-notice {
  border: 1px rgb(236, 11, 11) solid;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.us-notice p {
  text-align: center;
  font-size: 1.2em !important;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 45px;
}

.site-footer-owner {
  display: flex;
  justify-content: center;
}

.main-content code {
  font-size: inherit;
  background-color: #ebebeb;
}

.boss-image {
  display:inline-block;
  vertical-align:top;
  width: 400px;
  margin-left: 40px;
}

.boss-image img {
  transition: all 0.2s ease-out;
}

.boss-image img:hover {
  transform: scale(1.05);
}

.boss-image img:focus {
  transform: scale(2);
}

.main-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a";
  justify-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem 1rem;
}

.revert {
  margin-top: revert !important;
}

.main-image img {
  width: 100%;
  transition: all 0.2s ease-out;
}

.main-image img:hover {
  transform: scale(1.05);
}

.main-image img:focus {
  transform: scale(2);
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figure figcaption {
  text-align: center;
  padding-top: 10px;
}

/* @media screen and (max-width: 768px) {
  .tongue-trace-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a";
    width: 300px
  }
} */
