.highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a";
  justify-items: center;
  align-content: center;
  justify-content: center;
  gap: 1rem 1rem;
}

.highlight img {
  width: 100%;
  transition: all 0.2s ease-out;
}

.highlight img:hover {
  /* cursor: pointer; */
  transform: scale(1.05);
}

.highlight img:focus {
  transform: scale(2);
}
@media screen and (max-width: 900px) {
  .highlight {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "a";
  }
}
