<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8" />
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
      as="style"
      type="text/css"
      crossorigin
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#157878" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
    />
    {% include head-custom.html %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <h1 class="project-name">
        {{ page.title | default: site.title | default:
        site.github.repository_name }}
      </h1>
      <h2 class="project-tagline">
        {{ page.description | default: site.description | default:
        site.github.project_tagline }}
      </h2>
      <!-- {% if site.github.is_project_page %} -->
      <a href="#工作坊介紹" class="btn">工作坊介紹</a>
      <a href="#工作坊流程" class="btn">工作坊流程</a>
      <a href="#講者介紹" class="btn">講者介紹</a>
      <a href="#會場路線圖" class="btn">會場路線圖</a>
      <a href="#報名資訊" class="btn">報名資訊</a>
      <a href="#聯絡我們" class="btn">聯絡我們</a>
      <!-- {% endif %} -->
      {% if site.show_downloads %}
      <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
      <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <!-- {% if site.github.is_project_page %} -->
        <div class="logo">
          <a href="https://www.ntu.edu.tw/index.html">
            <img
              src="https://raw.githubusercontent.com/{{ site.github.owner_name }}/{{ site.github.repository_name }}/main/img/logo/ntu.png"
              alt="ntu-logo"
            />
          </a>

          <a href="https://linguistics.ntu.edu.tw/">
            <img
              src="https://raw.githubusercontent.com/{{ site.github.owner_name }}/{{ site.github.repository_name }}/main/img/logo/gil.png"
              alt="gilntu-logo"
            />
          </a>
        </div>
        <span class="site-footer-owner"
          >ⓒ 2021 國立台灣大學語言學研究所 發音行為與科學 實驗室</span
        >
        <span class="site-footer-owner"
          ><div>
            <a href="{{ site.github.repository_url }}"
              >{{ site.github.repository_name }}</a
            >
            is maintained by
            <a href="{{ site.github.owner_url }}"
              >{{ site.github.owner_name }}</a
            >.
          </div></span
        >
        <!-- {% endif %} -->
      </footer>
    </main>
    <script>
      document
        .querySelectorAll("li > a")
        .forEach((link) => link.setAttribute("target", "_blank"));
      document
        .querySelectorAll("td > a")
        .forEach((link) => link.setAttribute("target", "_blank"));
      document
        .querySelectorAll("p > a")
        .forEach((link) => link.setAttribute("target", "_blank"));
    </script>
  </body>
</html>
